body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    border: 3px solid black;
    margin: 100px;
}

.square {
    border: 0.5px solid black;
    box-sizing: border-box;
}